@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (min-width: 1024px){
    .slick-slide div{
        margin: 0 13px;
    }
}

@media screen and (min-width: 600px){
    .slick-slide div{
        margin: 0 13px;
    }
}

@media screen and (min-width: 480px){
    .slick-slide div{
        margin:0 6px;
    }
}

@media screen and (min-width: 350px){
    .slick-slide div{
        margin:0 6px;
    }
}